################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlazorAppCustomElementsNet8
/BlazorAppCustomElementsNet8/BlazorAppCustomElementsNet8/obj
/BlazorAppCustomElementsNet8/BlazorAppCustomElementsNet8.Client/obj
